# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text
*.tsx text
*.sol text
*.js text
*.mjs text
*.json text
*.yaml text
*.yml text
*.md text

# Configuration
*.toml text
*.txt text

# Scripts
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
